{% extends "player/base.html" %}
{% block content %}
    {% load static player_extra %}
    <header>
      <div class="background">
        <div>
          <img class="pic">
        </div>
      </div>
      <div class="infos">
        <div class="img_layout">
        {% if album.img and album.img.name|exist %}
        <img src="/media/images/{{ album.img.name }}" alt="">
        {% else %}
        <img class="pic card hoverable z-depth-4" src="{% static 'player/Musical Notes-48.png' %}">
        {% endif %}
        </div>
        <span class="title_layout">
          <h1 class="albumTitle">{{ album.title }}</h1>
          <span>{{ album.releaseYear }}</span>
        </span>
        <div>
        <div class="artist_layout">
          <a class="artist" href="{% url 'player.views.artist' album.artist.id %}">
            <span>
            {{ album.artist }}
            </span>
          </a>
        </div>
        </div>
        <div class="genres_layout">
        <ul class="genres">
          {% for genre in album.genres.all %}
          <li class="genre chip"><a href="{% url 'player.views.genre' genre.id %}"><span>{{ genre.label }}</span></a></li>
          {% endfor %}
        </ul>
        </div>
      </div>
    </header>
    <div class="progress" id="loading">
      <div class="indeterminate"></div>
    </div>
    <div class="alert alert-danger" id="noTracks">
      Unable to fetch tracks
    </div>
    <div class="tracks_layout">
      <div class="table-responsive">
        <table id="trackslist" class="table table-hover ">
          <thead>
            <tr>
              <th></th>
              <th>Track</th>
              <th>Name</th>
              <th>Duration</th>
            </tr>
          </thead>
          <tbody>  
          </tbody>
        </table>
      </div>
    </div>
    Composé par <a href="{% url 'player.views.group' album.group.id %}">{{ album.group }}</a>
    <div id="Playlist1" class="modal">
      <div class="modal-content">
        <h4>Choose a playlist</h4>
        {% if playlists.count > 0 %}
        <p>Choose a playlist between these ones</p>
        <select>
          {% for playlist in playlists %}
          <option value="{{ playlist.id }}">{{ playlist.title }}</option>
          {% endfor %}
        </select>
        <button class="btn btn-primary">Add song to playlist</button>
        {% else %}
        <p>Create a new playlist</p>
        <label for="playlistName">Playlist name</label>
        <input id="playlistName" name="playlistName"></input>
        <button class="btn btn-primary" id="addPlaylistButton">Create new playlist and add song</button>
        {% endif %}
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
      </div>
    </div>
{% endblock %}