{% extends "player/base.html" %}
{% block content %}
    <h1 class="albumTitle">{{ album.title }}</h1>
    {% load static player_extra %}
    {% if album.img and album.img.name|exist %}
    <img src="/media/images/{{ album.img.name }}" alt="">
    {% else %}
    <img class="pic">
    {% endif %}
    <em><a class="artist" href="{% url 'player.views.artist' album.artist.id %}">{{ album.artist }}</a> (<a href="{% url 'player.views.group' album.group.id %}">{{ album.group }}</a>)</em>
    <div class="genres">
      {% for genre in album.genres.all %}
      <span class="genre">{{ genre.label }}</span>
      {% endfor %}
    </div>
    <div class="table-responsive">
      <table id="trackslist" class="table table-hover ">
        <thead>
          <tr>
            <th>Track</th>
            <th>Name</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
    Released in {{ album.releaseYear }}
{% endblock %}