<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'player/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{% static 'player/main.browser.js' %}"></script>
  </head>
  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  	<div class="container">
  		<div class="navbar-header">
  			<a class="navbar-brand" href="{% url 'player.views.home' %}">Player</a>
  		</div>
  		<div id="navbar" class="navbar-collapse collapse">
        <form class="navbar-form navbar-right" method="POST" action="{% url 'player.views.loginUser' %}">
          {% if not user.is_authenticated %}
          {% csrf_token %}
  				<div class="form-group">
  					{{ form.username }}
  				</div>
  				<div class="form-group">
  					{{ form.password }}
  				</div>
  				<button class="btn btn-success" type="submit">Login</button>
          <a class="btn btn-primary" href="{% url 'url_register' %}">register</a>
          {% else %}
          <a class="btn btn-danger" href="{% url 'player.views.logoutUser' %}">logout</a>
          {% endif %}
          {% if user.is_staff %}
          <a class="btn btn-warning" href="/admin/">Admin</a>
          {% endif %}
          <div id="connexion" class=""><strong>{{message}}</strong></div>
  			</form>
  		</div>
  	</div>
  </nav>
  <div class="main">
  {% block content %}{% endblock %}
  </div>
  </body>
</html>
