{% extends "player/base.html" %}
{% block content %}
{% load static player_extra %}
{% if user.is_authenticated %}
{% block authentified %}{% endblock %}
{% endif %}
<div class="container albums">
  	{% for album in albums %}
  		{% if forloop.counter|divisibleby:3 %}
  		<div class="row">
  		{% endif %}
  		<div class="col-md-4">
  			<a href="{% url 'player.views.album' album.id %}">
		    {% if album.img and album.img.name|exist %}
		    <img src="/media/images/{{album.img.name}}">
		    {% else %}
		    <img src="{% static 'player/Musical Notes-48.png' %}" >
		    {% endif %}
		    </a>
		    <div class="infos">
			   	<a href="{% url 'player.views.album' album.id %}">{{ album.title }}</a>
			    <em><a href="{% url 'player.views.artist' album.artist.id %}">{{ album.artist }}</a> (<a href="{% url 'player.views.group' album.group.id %}">{{ album.group }}</a>)</em>
			    <div class="genres">
			      {% for genre in album.genres.all %}
			      <span class="genre">{{ genre.label }}</span>
			      {% endfor %}
			    </div>
			    Released in {{ album.releaseYear }}
			</div>
	    </div>
	    {% if forloop.counter|divisibleby:3 %}
	    </div>
	    {% endif %}
  	{% endfor %}
</div>
{% endblock %}