{% extends "player/base.html" %}
{% block content %}
    {% load static player_extra %}
    <h3 class="playlistTitle">{{ playlist.title }}</h3>
    <div class="playlistID hidden">{{ playlist.id }}</div>
    {% if songs.count > 0 %}
    <ul class="hidden">
    {% for song in songs %}
    <li>{{ song.id }}</li>
    {% endfor %}
    </ul>
    <div class="progress" id="loading">
      <div class="indeterminate"></div>
    </div>
    <div class="alert alert-danger" id="noTracks">
      Unable to fetch tracks
    </div>
    <div class="tracks_layout">
    <div class="table-responsive">
        <table id="trackslist" class="table table-hover ">
          <thead>
            <tr>
              <th></th>
              <th>Track</th>
              <th>Name</th>
              <th>Duration</th>
              <th>Artist</th>
              <th>Album</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      </div>
      {% else %}
      <div class="valign-wrapper">
      <div class="alert alert-info valign">
      <h4>No songs yet !</h4>
      <span>There's no songs yet inside this playlist !</span>
      </div>
      </div>
      {% endif %}
      <a href="{% url 'player.views.deleteplaylist' playlist.id %}"><button class="btn">Delete this playlist</button></a>
{% endblock %}