{% extends "player/base.html" %}
{% block content %}
{% load static player_extra %}
{% if user.is_authenticated %}
{% block authentified %}{% endblock %}
{% endif %}
<div class="player container albums">
  	{% for album in albums %}
  		{% if forloop.counter|divisibleby:3 %}
  		<div class="row">
  		{% endif %}
  		<div class="col-md-4">
  			<div class="album-card hoverable card-panel">
	  			<a href="{% url 'player.views.album' album.id %}">
			    {% if album.img %}
			    <img src="/media/images/{{album.img.name | safe }}">
			    {% else %}
			    <img src="{% static 'player/Musical Notes-48.png' %}" >
			    {% endif %}
			    </a>
			    <div class="infos">
				   	<div><a href="{% url 'player.views.album' album.id %}"><span class="title">{{ album.title }}</span></a> - {% if album.releaseYear > 0 %} {{ album.releaseYear }} {% endif %}</div>
				   	<div><a href="{% url 'player.views.artist' album.artist.id %}">{{ album.artist }}</a></div>
				    <div class="genres">
				      {% for genre in album.genres.all %}
				      <a href="{% url 'player.views.genre' genre.id %}"><span class="genre chip">{{ genre.label }}</span></a>
				      {% endfor %}
				    </div>
				</div>
			</div>
	    </div>
	    {% if forloop.counter|divisibleby:3 %}
	    </div>
	    {% endif %}
  	{% endfor %}
</div>
{% endblock %}