{% extends "player/base.html" %}
{% block content %}
{% load static player_extra %}
{% if user.is_authenticated %}
{% block authentified %}{% endblock %}
{% endif %}
{% if albums.count > 0 %}
Albums correspondant :
<div class="container albums">
  	{% for album in albums %}
  		{% if forloop.counter|divisibleby:3 %}
  		<div class="row">
  		{% endif %}
  		<div class="col-md-4">
  			<div class="album-card">
	  			<a href="{% url 'player.views.album' album.id %}">
			    {% if album.img and album.img.name|exist %}
			    <img src="/media/images/{{album.img.name}}">
			    {% else %}
			    <img src="{% static 'player/Musical Notes-48.png' %}" >
			    {% endif %}
			    </a>
			    <div class="infos">
				   	<div><a href="{% url 'player.views.album' album.id %}">{{ album.title }}</a> - {% if album.releaseYear > 0 %} {{ album.releaseYear }} {% endif %}</div>
				   	<div><a href="{% url 'player.views.artist' album.artist.id %}">{{ album.artist }}</a></div>
				    <div class="genres">
				      {% for genre in album.genres.all %}
				      <a href="{% url 'player.views.genre' genre.id %}"><span class="genre chip">{{ genre.label }}</span></a>
				      {% endfor %}
				    </div>
				</div>
			</div>
	    </div>
	    {% if forloop.counter|divisibleby:3 %}
	    </div>
	    {% endif %}
  	{% endfor %}
</div>
{% endif %}
{% if artists.count > 0 %}
Artistes correspondants :
<div class="container artists">
{% for artist in artists %}
<div class="col-md-4">
<div class="artist-card">
<a href="{% url 'player.views.artist' artist.id %}">
<img src="{% static 'player/Musical Notes-48.png' %}">
<div class="infos">
<span>{{ artist.name }}</span>
</div>
</a>
</div>
</div>
{% endfor %}
</div>
{% endif %}
{% if genres.count > 0 %}
Genres correspondants :
<div class="container genres">
{% for genre in genres %}
<a href="{% url 'player.views.genre' genre.id %}"><span class="chip">{{ genre.label }}</span></a>
{% endfor %}
</div>
{% endif %}
{% if albums.count = 0 and artists.count = 0 and genres.count = 0 %}
<div class="alert alert-warning" style="text-align: center;">
	<h4>We're sorry</h4>
	<span>Nothing matched your query.</span>
</div>
{% endif %}
{% endblock %}